@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

.nav-extended
    background: rgb(27, 40, 56) !important
    font-family: 'Montserrat', sans-serif !important
    position: fixed !important
    top: 0

.brand-logo
    margin-left: 1.5rem

.sidenav
    background: rgb(36, 54, 75) !important
    font-family: 'Montserrat', sans-serif !important

    & li a
        color: white !important

#anime
    .list
        background-image: url("https://i.imgur.com/nKNyvRD.jpeg")

#games
    .list
        background-image: url("https://i.imgur.com/TeSPjwd.jpg")

#movies
    .list
        background-image: url("https://i.imgur.com/AhVgG9W.jpg")

#musicVideo
    .list
        background-image: url("https://wallpapercave.com/wp/wp7285001.png")

#webSeries
    .list
        background-image: url("https://i.imgur.com/Qf0vpa6.jpg")
